{% extends 'base/base.html' %}
{% load static %}

{% block head %}
    <title>PizzaGang - Checkout</title>
    <link rel="stylesheet" href="{% static 'css/show_cart.css' %}">
{% endblock %}

{% block content %}
<div class="cart-main-container">
    <div class="header-cart">
        <h1>Pizza Cart</h1>
        <h1 class="items">{{ cart_items_count }} Item/s</h1>
    </div>

    {% for cart_item in cart_items %}
    <hr>
    <div class="cart-container">
        <div class="pizza-img">
            <img src="{{ cart_item.pizza.image.url }}" alt="">
            {% if cart_item.pizza.duplication_count > 1 %}
                <div class="duplication-container">
                    <p>{{ cart_item.pizza.duplication_count }}</p>
                </div>
            {% endif %}
        </div>
        <div class="pizza-info">
            <div class="basic-info">
                <p class="price">{{ cart_item.final_price|floatformat:2 }} lv.</p>
                <p class="name">{{ cart_item.pizza.name }}</p>
                <p class="ingres">{{ cart_item.pizza.ingredients }}</p>
            </div>

            <div class="show-cart-filters">
                {% if cart_item.pizza.is_offer %}
                    <img src="{% static 'images/icons/discount.png' %}" alt="pizza-offer-img">
                {% endif %}
                {% if cart_item.pizza.is_vege %}
                    <img src="{% static 'images/icons/vege.png' %}" alt="pizza-vege-img">
                {% endif %}
                {% if cart_item.pizza.is_special %}
                    <img src="{% static 'images/icons/special.png' %}" alt="pizza-special-img">
                {% endif %}
                {% if not cart_item.pizza.is_special and not cart_item.pizza.is_vege and not cart_item.pizza.is_offer %}
                    <p>No filters for this pizza.</p>
                {% endif %}
            </div>
        </div>
        <div class="choose-size">
            <form action="{% url 'select_item_size' cart_item.pk %}" method="post">
                {% csrf_token %}
                {% if cart_item.is_small %}
                    <button class="small" style="background-color: dimgray; color: white" type="submit" name="small_button">Small</button>
                {% else %}
                    <button class="small" type="submit" name="small_button">Small</button>
                {% endif %}

                {% if cart_item.is_big %}
                    <button style="background-color: dimgray; color: white" type="submit" name="big_button">Big</button>
                {% else %}
                    <button type="submit" name="big_button">Big</button>
                {% endif %}

                {% if cart_item.is_large %}
                    <button class="large" style="background-color: dimgray; color: white" type="submit" name="large_button">Large</button>
                {% else %}
                    <button class="large" type="submit" name="large_button">Large</button>
                {% endif %}
            </form>
        </div>
        <div class="delete-item">
            <form action="{% url 'delete_from_cart' cart_item.pk %}" method="post">
                {% csrf_token %}
                <button type="submit"><i class="fa-solid fa-xmark"></i></button>
            </form>
        </div>
    </div>
    {% endfor %}
    {% if cart_items_count == 0 %}
        <div class="show-cart-no-items">
            <h1>You currently have 0 items in your cart, would you like to go back?</h1>
        </div>
    {% endif %}
    <div class="continue-picking-container">
        <a href="{% url 'menu' %}" class="continue-picking"><i class="fa-solid fa-angles-left"></i>&nbsp;Continue picking</a>
        {% if cart_total_price > 0 %}
            <p>Total:&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;{{ cart_total_price|floatformat:2 }} lv.</p>
        {% endif %}
    </div>
    {% if cart_total_price > 0 %}
        <div class="order-container">
            <div>
                <a href="{% url 'create_order' %}">Order Now</a>
            </div>
        </div>
    {% endif %}
</div>
{% endblock %}