.git/
.idea/
Exams/Python-Web-Framework-Retake-Exam-20-August-2023/PizzaGang/PizzaGang/__pycache__/__init__.cpython-39.pyc
Exams/Python-Web-Framework-Retake-Exam-20-August-2023/PizzaGang/PizzaGang/__pycache__/settings.cpython-39.pyc
Exams/Python-Web-Framework-Retake-Exam-20-August-2023/PizzaGang/PizzaGang/__pycache__/urls.cpython-39.pyc
Exams/Python-Web-Framework-Retake-Exam-20-August-2023/PizzaGang/PizzaGang/__pycache__/wsgi.cpython-39.pyc
Exams/Python-Web-Framework-Retake-Exam-20-August-2023/PizzaGang/PizzaGang/main/__pycache__/__init__.cpython-39.pyc
Exams/Python-Web-Framework-Retake-Exam-20-August-2023/PizzaGang/PizzaGang/main/__pycache__/admin.cpython-39.pyc
Exams/Python-Web-Framework-Retake-Exam-20-August-2023/PizzaGang/PizzaGang/main/__pycache__/apps.cpython-39.pyc
Exams/Python-Web-Framework-Retake-Exam-20-August-2023/PizzaGang/PizzaGang/main/__pycache__/context_processors.cpython-39.pyc
Exams/Python-Web-Framework-Retake-Exam-20-August-2023/PizzaGang/PizzaGang/main/__pycache__/filters.cpython-39.pyc
Exams/Python-Web-Framework-Retake-Exam-20-August-2023/PizzaGang/PizzaGang/main/__pycache__/forms.cpython-39.pyc
Exams/Python-Web-Framework-Retake-Exam-20-August-2023/PizzaGang/PizzaGang/main/__pycache__/models.cpython-39.pyc
Exams/Python-Web-Framework-Retake-Exam-20-August-2023/PizzaGang/PizzaGang/main/__pycache__/urls.cpython-39.pyc
Exams/Python-Web-Framework-Retake-Exam-20-August-2023/PizzaGang/PizzaGang/main/__pycache__/views.cpython-39.pyc
Exams/Python-Web-Framework-Retake-Exam-20-August-2023/PizzaGang/PizzaGang/main/migrations/__pycache__/0001_initial.cpython-39.pyc
Exams/Python-Web-Framework-Retake-Exam-20-August-2023/PizzaGang/PizzaGang/main/migrations/__pycache__/0002_profile_address.cpython-39.pyc
Exams/Python-Web-Framework-Retake-Exam-20-August-2023/PizzaGang/PizzaGang/main/migrations/__pycache__/0003_pizza.cpython-39.pyc
Exams/Python-Web-Framework-Retake-Exam-20-August-2023/PizzaGang/PizzaGang/main/migrations/__pycache__/0004_cart_cartitem.cpython-39.pyc
Exams/Python-Web-Framework-Retake-Exam-20-August-2023/PizzaGang/PizzaGang/main/migrations/__pycache__/__init__.cpython-39.pyc
Exams/Python-Web-Framework-Retake-Exam-20-August-2023/PizzaGang/PizzaGang/__pycache__/__init__.cpython-39.pyc
Exams/Python-Web-Framework-Retake-Exam-20-August-2023/PizzaGang/PizzaGang/__pycache__/settings.cpython-39.pyc
Exams/Python-Web-Framework-Retake-Exam-20-August-2023/PizzaGang/PizzaGang/__pycache__/urls.cpython-39.pyc
Exams/Python-Web-Framework-Retake-Exam-20-August-2023/PizzaGang/PizzaGang/__pycache__/wsgi.cpython-39.pyc
Exams/Python-Web-Framework-Retake-Exam-20-August-2023/PizzaGang/PizzaGang/main/__pycache__/__init__.cpython-39.pyc
Exams/Python-Web-Framework-Retake-Exam-20-August-2023/PizzaGang/PizzaGang/main/__pycache__/admin.cpython-39.pyc
Exams/Python-Web-Framework-Retake-Exam-20-August-2023/PizzaGang/PizzaGang/main/__pycache__/apps.cpython-39.pyc
Exams/Python-Web-Framework-Retake-Exam-20-August-2023/PizzaGang/PizzaGang/main/__pycache__/context_processors.cpython-39.pyc
Exams/Python-Web-Framework-Retake-Exam-20-August-2023/PizzaGang/PizzaGang/main/__pycache__/filters.cpython-39.pyc
Exams/Python-Web-Framework-Retake-Exam-20-August-2023/PizzaGang/PizzaGang/main/__pycache__/forms.cpython-39.pyc
Exams/Python-Web-Framework-Retake-Exam-20-August-2023/PizzaGang/PizzaGang/main/__pycache__/models.cpython-39.pyc
Exams/Python-Web-Framework-Retake-Exam-20-August-2023/PizzaGang/PizzaGang/main/__pycache__/urls.cpython-39.pyc
Exams/Python-Web-Framework-Retake-Exam-20-August-2023/PizzaGang/PizzaGang/main/__pycache__/views.cpython-39.pyc
Exams/Python-Web-Framework-Retake-Exam-20-August-2023/PizzaGang/PizzaGang/main/migrations/__pycache__/0001_initial.cpython-39.pyc
Exams/Python-Web-Framework-Retake-Exam-20-August-2023/PizzaGang/PizzaGang/main/migrations/__pycache__/0002_profile_address.cpython-39.pyc
Exams/Python-Web-Framework-Retake-Exam-20-August-2023/PizzaGang/PizzaGang/main/migrations/__pycache__/0003_pizza.cpython-39.pyc
Exams/Python-Web-Framework-Retake-Exam-20-August-2023/PizzaGang/PizzaGang/main/migrations/__pycache__/0004_cart_cartitem.cpython-39.pyc
Exams/Python-Web-Framework-Retake-Exam-20-August-2023/PizzaGang/PizzaGang/main/migrations/__pycache__/__init__.cpython-39.pyc
