{% extends 'base/base.html' %}
{% load static %}

{% block head %}
    <title>About PizzaGang</title>
    <link rel="stylesheet" href="{% static 'css/about.css' %}">
{% endblock %}

{% block content %}
    <div class="about-container">
        <div class="title-container">
            <p>About PizzaGang</p>
            <div class="black-bar"></div>
            <i class="fa-solid fa-pizza-slice"></i>
        </div>
        <p class="info">
            At PizzaGang, we are passionate about two things: exceptional pizza and unforgettable experiences.
            We believe that pizza is more than just a dish; it's a way of bringing people together, sharing laughter,
            and creating cherished memories. Our journey began with a simple dream – to craft the most delicious and
            mouthwatering pizzas that will leave you craving for more. <br><br>Our story starts in the heart of Italy, where our
            founders fell in love with the art of pizza-making. Armed with authentic recipes and a vision to introduce
            the world to the true essence of Italian pizza, they set out on a mission. They traveled far and wide,
            tasting various ingredients, mastering techniques, and perfecting their craft. <br><br>What sets us apart at
            PizzaGang is our unwavering commitment to quality. We source the finest and freshest ingredients, carefully
            selected to ensure every bite bursts with flavor. From the rich tomato sauce, premium cheese, and an array
            of delectable toppings, each pizza is a masterpiece crafted with love and expertise. <br><br>But our dedication to
            excellence doesn't stop with the ingredients. At PizzaGang, we take pride in our team of skilled and
            passionate pizzaiolos. Their craftsmanship, combined with our state-of-the-art ovens, brings you pizzas that
            are cooked to perfection – a crispy crust with a delightful chew, a harmonious blend of flavors, and an
            aroma that tantalizes your senses. <br><br>We understand that every pizza lover is unique, and that's why we offer
            an extensive menu that caters to all taste buds. From classic Margherita to bold and innovative
            combinations, we have something to satisfy every craving. Our commitment to quality also extends to those
            with special dietary needs, as we offer gluten-free and vegan options, ensuring everyone can indulge in the
            joy of pizza. <br><br>At PizzaGang, we don't just serve pizza; we serve experiences. Whether you're celebrating a
            milestone, having a family gathering, or enjoying a casual night out with friends, our warm and inviting
            ambiance provides the perfect backdrop for creating cherished memories. <br><br>Our love for pizza extends beyond
            our pizzeria's walls. We believe in giving back to the community that has supported us on this incredible
            journey. Through various initiatives, we strive to make a positive impact on society and the environment,
            ensuring a better world for generations to come. <br><br>Thank you for joining us on this flavorful adventure.
            We invite you to explore our menu, savor the tastes, and be part of the PizzaGang family. Your satisfaction
            is our ultimate reward, and we look forward to serving you the finest pizza experience you'll ever have.
            <br><br>Buon Appetito! <b>The PizzaGang Team</b>
        </p>
    </div>
{% endblock %}