{% extends 'base/base.html' %}
{% load static %}

{% block head %}
    <title>PizzaGang</title>
    <link rel="stylesheet" href="{% static 'css/index.css' %}">
{% endblock %}

{% block content %}
    <div class="slider">
        <div class="image-container" id="imageContainer">
            {% for offer in offer_list %}
                <div class="slide {% if forloop.first %}active{% endif %}">
                    <img src="{{ offer.image.url }}" alt="pizza-img"/>
                    <h1 class="title">{{ offer.name }}</h1>
                </div>
            {% endfor %}
        </div>
        <div class="buttons">
            {% for offer in offer_list %}
                <a href="#slide-{{ forloop.counter }}" class="button {% if forloop.first %}active{% endif %}" onclick="changeSlide({{ forloop.counter }})"></a>
            {% endfor %}
        </div>
    </div>

    <script>
        const totalSlides = {{ offer_list|length }};
        let currentSlide = 1;
        const slideInterval = 3000;

        function setContainerWidth() {
            const imageContainer = document.getElementById('imageContainer');
            const slideWidth = 1000; // Width of each slide
            const containerWidth = totalSlides * slideWidth;
            imageContainer.style.width = `${containerWidth}px`;
        }

        function changeSlide(slideNumber) {
            const imageContainer = document.getElementById('imageContainer');
            const buttons = document.querySelectorAll('.button');

            const offset = (slideNumber - 1) * 1000;
            imageContainer.style.left = `-${offset}px`;

            currentSlide = slideNumber;

            buttons.forEach((button, index) => {
                if (index + 1 === currentSlide) {
                    button.classList.add('active');
                } else {
                    button.classList.remove('active');
                }
            });
        }

        function setupSlider() {
            const initialSlide = window.location.hash.slice(1).split('-')[1];
            if (initialSlide) {
                currentSlide = parseInt(initialSlide);
            }

            const initialButton = document.querySelector(`.buttons .button[href="#slide-${currentSlide}"]`);
            initialButton.classList.add('active');

            setContainerWidth();
            changeSlide(currentSlide);
        }

        window.addEventListener('load', setupSlider);

        setInterval(() => {
            const nextSlide = (currentSlide % totalSlides) + 1;
            changeSlide(nextSlide);
        }, slideInterval);
    </script>
{% endblock %}