{% extends 'base/base.html' %}
{% load static %}


{% block head %}
    <title>Our Products - PizzaGang</title>
    <link rel="stylesheet" href="{% static 'css/products.css' %}">
{% endblock %}

{% block content %}
    <div class="filters-container-main">
        <div class="filters-container">
            <div class="filters-container-header">
                <p>Veggie</p>
                <img src="{% static 'images/icons/vege.png' %}" alt="veggie-img">
            </div>
            <div class="filters-container-info">
                <p>
                    Step into a world of exquisite flavors with our curated meat-free pizzas. Indulge in farm-fresh
                    veggies, aromatic herbs, and delightful crusts. From the classic Veggie Galore to innovative
                    creations, our diverse range caters to all tastes, ensuring a memorable dining experience.
                </p>
            </div>
            <div class="filters-container-button">
                <a style="border-radius: 0 0 0 10px" href="/menu/?name=&ingredients=&is_vege=true">View</a>
            </div>
        </div>


        <div class="filters-container">
            <div class="filters-container-header">
                <p>Discount</p>
                <img src="{% static 'images/icons/discount.png' %}" alt="veggie-img">
            </div>
            <div class="filters-container-info">
                <p>
                    Treat yourself to irresistible delights with our mouthwatering pizzas and exclusive offerings.
                    Discover special promotions, bundle deals, and limited-time discounts that bring you incredible
                    value without compromising on taste. Enjoy your favorite flavors while saving on your order.
                </p>
            </div>
            <div class="filters-container-button">
                <a href="/menu/?name=&ingredients=&is_offer=true">View</a>
            </div>
        </div>


        <div class="filters-container">
            <div class="filters-container-header">
                <p>Special</p>
                <img src="{% static 'images/icons/special.png' %}" alt="veggie-img">
            </div>
            <div class="filters-container-info">
                <p>
                    Embark on a gastronomic adventure with our artisanal pizzas that push the boundaries of taste.
                    Savor unique toppings and extraordinary flavor combinations in our experimental creations.
                    Experience seasonal specials and surprising fusions palate with every bite.
                </p>
            </div>
            <div class="filters-container-button">
                <a style="border-radius: 0 0 10px 0" href="/menu/?name=&ingredients=&is_special=true">View</a>
            </div>
        </div>
    </div>


    <div class="product-header">
        <p>Our Products</p>
    </div>
    <div class="product-info">
        <p>
            At PizzaGang, we take immense pride in our diverse and mouthwatering selection of pizza creations. Each
            pizza on our products page is a culinary masterpiece, carefully crafted with love and attention to detail.
            We believe that great pizza is not just about the taste; it's an experience that tantalizes your taste buds
            and leaves you wanting more. Explore our menu, and you'll find an array of classic favorites and innovative
            delights that cater to every palate. Let us walk you through some of our signature offerings...
        </p>
    </div>


    <div class="product-header">
        <p>Photos from the Lab</p>
    </div>
    <div class="product-container">
        {% for product_img in productimage_list %}
            <div class="product-img-container">
                <img src="{{ product_img.image.url }}" alt="product-img">
            </div>
        {% endfor %}
    </div>
{% endblock %}