{% load static %}

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <title>UsersDemo</title>
    <link rel="stylesheet" href="{% static 'css/base.css' %}">
  </head>
  <body>
    <header>
      <div class="container">
        <div class="logo">
          <a href="{% url 'home' %}">
            <img src="{% static 'images/logo.png' %}" alt="Home">
          </a>
        </div>
            <nav>
             <a class="menu-button" href="{% url 'menu' %}">Menu</a>
             {% if user.is_authenticated %}
              <div class="user-dropdown">
                <a class="username" href="#"> {{ user.username }}</a>
                <div class="dropdown-content">
                  <a href="{% url 'user-details' user.pk %}">Profile</a>
                  <a href="#">Option 2</a>
                  <a href="{% url 'logout' %}">Logout</a>
                </div>
              </div>
            {% else %}
              <a href="{% url 'login' %}">Login</a>
            {% endif %}
            </nav>
      </div>
    </header>
    <div class="main-content">
      {% block content %}
      {% endblock %}
    </div>
    <footer>
      <div class="container">
        <p>&copy; 2023 Your Company. All rights reserved.</p>
      </div>
    </footer>
  </body>
</html>
