{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>PizzaGang - Profile Details</title>
    <link rel="icon" type="image/x-icon" href="{% static 'images/favicon.ico' %}">
    <style>
        body {
            margin: 0;
        }

        .header {
            width: 100%;
            height: 100px;
            background-color: yellow;
        }

        .sign-out-footer {
            position: absolute;
            bottom: 0;
            display: flex;
            justify-content: center;
            align-items: center;
            height: 100px;
            width: 100%;
            background-color: red;
        }
    </style>
</head>
<body>
<div class="header">
</div>
{% block user_content %}
{% endblock %}
</body>
<a href="{% url 'sign_out' %}">
    <div class="sign-out-footer">
        <h1 style="color: white">Sign Out</h1>
    </div>
</a>

</html>