{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>PizzaGang</title>
    <link rel="stylesheet" href="{% static 'css/base.css' %}">
    {% block link %}
    {% endblock %}
</head>
<body>
<header>

    <div class="base-buttons-container">
        <a href="{% url 'home' %}">
            <img src="{% static 'pictures/logo.png' %}" alt="logo" class="logo">
        </a>


        <a class="base-button" id="button" href="#popup1"><b>🛒 CART</b>
            {#TODO: Fix#}
            {% if cart.count > 0 %}
                <img src="{% static 'pictures/red-dot.png' %}" alt="red-dot" class="red-dot">
            {% endif %}
        </a>


        <div id="popup1" class="overlay">
            <div class="popup">
                <a class="close" href="#">&times;</a>
            </div>
        </div>


        <a href="{% url 'menu' %}" class="base-button"><b>MENU</b></a>

        {% if user.is_authenticated %}
           <div class="dropdown">
              <img src="{{ user.profile.profile_picture.url }}" alt="profile-picture" class="base-button" id="profile-picture">
              <div class="dropdown-content">
                <a href="{% url 'user-details' user.pk %}" style="border-top-left-radius: 5px; border-top-right-radius: 5px;">Profile</a>
                <a href="{% url 'user-address' user.pk %}">Address</a>
                <a href="{% url 'user-orders' user.pk %}">Orders</a>
                <a href="{% url 'user-history' user.pk %}">History</a>
                <hr class="dropdown-hr">
                <a href="{% url 'sign-out' %}" style="border-bottom-left-radius: 5px; border-bottom-right-radius: 5px;">Sign Out</a>
              </div>
            </div>
        {% else %}
            <a href="{% url 'sign-in' %}" class="base-button"><b>SIGN IN</b></a>
        {% endif %}
    </div>

</header>

<main>
{% block content %}
{% endblock %}
</main>

<div class="footer-container">
    <footer>
    <p>© 2013-2023 - PizzaGang LTD - All Rights Reserved.</p>
    <a href="https://www.facebook.com/">Facebook</a>
    <a href="https://www.instagram.com/">Instagram</a>
    <a href="https://twitter.com/">Twitter</a>
    </footer>
</div>

</body>
</html>
