{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>PizzaGang</title>
    <link rel="stylesheet" href="{% static 'css/base.css' %}">
    {% block link %}
    {% endblock %}
</head>
<body>
<header>
    <div class="nav-logo">
        <a href="{% url 'home' %}">
            <img src="{% static 'pictures/logo.png' %}" alt="logo" class="logo">
        </a>
    </div>


    <div class="header-buttons">
        <a href="" class="green-button">Cart</a>
        <a href="{% url 'menu' %}" class="green-button">Menu</a>

        {% if user.is_authenticated %}
           <div class="dropdown">
              <button class="dropbtn">{{ user.username|truncatechars:7 }}</button>
              <div class="dropdown-content">
                <a href="#">Profile</a>
                <a href="{% url 'sign-out' %}">Sign Out</a>
              </div>
            </div>
        {% else %}
            <a href="{% url 'sign-in' %}" class="green-button">Sign In</a>
        {% endif %}

    </div>

</header>

<main>
{% block content %}
{% endblock %}
</main>


<div class="footer-container">
    <footer>
    <p>© 2013-2023 - PizzaGang LTD - All Rights Reserved.</p>
    <a href="https://www.facebook.com/">Facebook</a>
    <a href="https://www.instagram.com/">Instagram</a>
    <a href="https://twitter.com/">Twitter</a>
    </footer>
</div>

</body>
</html>
