{% extends 'admin/admin_settings_base.html' %}
{% load static %}

{% block admin_settings_head %}
    <link rel="stylesheet" href="{% static 'css/edit_create_delete_pizza.css' %}">
{% endblock %}

{% block admin_settings_content %}
    <div class="container">
        <h2>Delete Pizza</h2>
        <p>Are you sure you want to delete pizza <b>{{ pizza.name }}</b>?</p>

        <form action="{% url 'delete_pizza' pizza.pk %}" method="post">
            {% csrf_token %}
            <button type="submit" class="submit-btn">Delete</button>
            <div class="delete-pizza-cancel-container">
                <a href="{% url 'show_pizza_settings' %}">Cancel</a>
            </div>
        </form>
    </div>
{% endblock %}