{% extends 'admin/admin_settings_base.html' %}
{% load static %}

{% block admin_settings_head %}
    <link rel="stylesheet" href="{% static 'css/admin_settings.css' %}">
{% endblock %}

{% block admin_settings_content %}
    <form method="get" action="{% url 'show_offers_settings' %}">
        <div class="filter-container">
            <div>
                <label>
                    <input type="text" name="name" placeholder="Search name" value="{{ name_filter }}">
                </label>
            </div>

            <div>
                <button type="submit">
                    Search <i class="fa-solid fa-magnifying-glass"></i>
                </button>
            </div>
        </div>
    </form>
    
    <div class="offer-list-main-container">
        <div class="progress-create-message">
            {% if in_progress %}
                <div class="progress-container">
                    <p>You have one unfinished offer...</p>
                    <a href="{% url 'edit_offer' %}">Continue</a>
                </div>
            {% else %}
                <a class="create-a" href="{% url 'create_offer' %}">Create</a>
            {% endif %}
        </div>

        {% for offer in offer_list %}
            <div class="main-offer-container">
                <div class="offer-name-container">
                    <h1>{{ offer.name }}</h1>
                </div>
                <div class="offer-container">
                    <div class="offer-img-container">
                        <img src="{{ offer.image.url }}" alt="offer-img">
                    </div>

                    <div class="offer-price-container">
                        <p>{{ offer.final_price }} lv.</p>
                        <s>{{ offer.total_price }} lv.</s>
                    </div>

                    <div class="offer-items-container">
                        {% for item in offer.cartitem_set.all %}
                            <p>
                            {{ item.pizza.name }} -
                            {% if item.is_small %}
                                <b>Small</b>
                            {% endif %}

                            {% if item.is_big %}
                                <b>Big</b>
                            {% endif %}

                            {% if item.is_large %}
                                <b>Large</b>
                            {% endif %}
                            </p>
                        {% endfor %}
                    </div>
                    <form action="{% url 'make_active_inactive_offer' offer.pk %}" method="post">
                        {% csrf_token %}
                        <div class="offer-buttons-container">
                            {% if offer.is_active %}
                                <button style="background-color: purple" name="active" type="submit">Active</button>
                                <button type="submit" name="inactive">Inactive</button>
                            {% else %}
                                <button name="active" type="submit">Active</button>
                                <button style="background-color: purple" type="submit" name="inactive">Inactive</button>
                            {% endif %}
                        </div>
                    </form>
                    <div class="offer-delete-container">
                        <a href="{% url 'delete_offer' offer.pk %}">Delete</a>
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>
{% endblock %}