/* Reset styles */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

/* Body styles */
body {
  font-family: Arial, sans-serif;
  font-size: 16px;
  line-height: 1.5;
  color: #333;
  background-color: tomato;
}

/* Header styles */
header {
  background-color: #eee;
  padding: 18px 0;
  top: 0;
  left: 0;
  right: 0;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo img {
  max-width: 90px;
}

nav a {
  color: #333;
  text-decoration: none;
  padding: 10px;
  margin-left: 10px;
  border-radius: 12px;
  border: 1px solid;
  transition: background-color 0.5s ease;
}

nav a:hover {
  background-color: #ccc;
}

.menu-button:hover {
  color: #fffc00;
  background-color: tomato;
}

/*Footer styles*/
.footer {
  top: 20px;
}

/* Main content styles */
.main-content {
  margin-top: 20px;
  padding: 20px;
}
