{% extends 'base/base.html' %}

{% block content %}
    <h1>This is the main page!</h1>
    <p>text text text text text text text text text text text </p>
    <p>text text text text text text text text text text text </p>
    <p>text text text text text text text text text text text </p>
    <p>text text text text text text text text text text text </p>
    <p>text text text text text text text text text text text </p>
    <p>text text text text text text text text text text text </p>
    <p>text text text text text text text text text text text </p>
    <p>text text text text text text text text text text text </p>
    <p>text text text text text text text text text text text </p>
    <p>text text text text text text text text text text text </p>
    <p>text text text text text text text text text text text </p>
    <p>text text text text text text text text text text text </p>
    <p>text text text text text text text text text text text </p>
    <p>text text text text text text text text text text text </p>
    <p>text text text text text text text text text text text </p>
    <p>text text text text text text text text text text text </p>
    <p>text text text text text text text text text text text </p>
    <p>text text text text text text text text text text text </p>
    <p>text text text text text text text text text text text </p>
    <p>text text text text text text text text text text text </p>
    <p>text text text text text text text text text text text </p>
    <p>text text text text text text text text text text text </p>
    <p>text text text text text text text text text text text </p>
    <p>text text text text text text text text text text text </p>
    <p>text text text text text text text text text text text </p>
    <p>text text text text text text text text text text text </p>
    <p>text text text text text text text text text text text </p>
    <p>text text text text text text text text text text text </p>
    <p>text text text text text text text text text text text </p>
    <p>text text text text text text text text text text text </p>
    <p>text text text text text text text text text text text </p>
    <p>text text text text text text text text text text text </p>
    <p>text text text text text text text text text text text </p>
    <p>text text text text text text text text text text text </p>
    <p>text text text text text text text text text text text </p>
    <p>text text text text text text text text text text text </p>
    <p>text text text text text text text text text text text </p>
    <p>text text text text text text text text text text text </p>
    <p>text text text text text text text text text text text </p>
    <p>text text text text text text text text text text text </p>
    <p>text text text text text text text text text text text </p>
    <p>text text text text text text text text text text text </p>
{% endblock %}
