{% extends 'base/base.html' %}
{% load static %}

{% block content %}

    <link rel="stylesheet" href="{% static 'css/menu.css' %}">
        <div class="menu-container">
            {% for pizza in pizzas %}
                <a href="{% url 'pizza-details' pizza.pk %}">
                    <div class="pizza-box" data-link="{{ pizza.link }}">
                        <img src="{{ pizza.photo.url }}" alt="{{ pizza.name }}" class="pizza-photo">
                        <h3 class="pizza-name">{{ pizza.name }}</h3>
                        <p class="pizza-ingredients">{{ pizza.ingredients }}</p>
                    </div>
                </a>
            {% endfor %}
        </div>

{% endblock %}
