body {
    margin: 0;
}

header {
    bottom: 0;

    height: 60px;
    width: 100%;

    background-color: aqua;
    
}

footer {
    position: absolute;
    bottom: 0;

    height: 60px;
    width: 100%;

    background-color: brown;
}
