{% extends 'base/base.html' %}

{% block content %}
  <h1>Add to Cart: {{ pizza.name }}</h1>
  <form method="POST">
    {% csrf_token %}
    <label for="size">Size:</label>
    <select name="size" id="size">
      {% for size, label in pizza.SIZE %}
        <option value="{{ size }}">{{ label }}</option>
      {% endfor %}
    </select>
    <br>
    <label for="quantity">Quantity:</label>
    <input type="number" name="quantity" id="quantity" value="1" min="1">
    <br>
    <button type="submit">Add to Cart</button>
  </form>
{% endblock %}
