{% extends 'base/base.html' %}
{% load static %}

{% block link %}
    <link rel="stylesheet" href="{% static 'css/menu.css' %}">
{% endblock %}

{% block content %}
    <div class="pizza-box-main-container">
        {% for pizza in object_list %}
        <a href="{% url 'pizza-details' pizza.pk %}">
        <div class="pizza-box-container">
            <h1 class="pizza-title-name">{{ pizza.name }}</h1>

            <hr>

            <div class="pizza-img-container">
                <img src="{{ pizza.image.url }}" alt="pizza-img" class="pizza-img">
            </div>

            <div class="pizza-desc-container">
                <p>{{ pizza.ingredients|truncatechars:50 }}</p>
            </div>

            <div class="hover-target-container">
                {% if pizza.is_special %}
                     <div class="hover-container">
                      <img src="{% static 'pictures/special.png' %}" alt="item-logo" class="hover-target">
                      <aside class="hover-popup">
                        <h2 class="title">Special Edition</h2>
                        <p class="desc">This item means that the pizza you chose has a great chance to be one of the best products we have!</p>
                      </aside>
                    </div>
                {% endif %}

                {% if pizza.is_vege %}
                     <div class="hover-container">
                      <img src="{% static 'pictures/vege.png' %}" alt="item-logo" class="hover-target">
                      <aside class="hover-popup">
                        <h2 class="title">Vege/Fast</h2>
                        <p class="desc">This item means that the pizza you chose has a high quality vegetarian products and it's good for fasting!</p>
                      </aside>
                    </div>
                {% endif %}

                {% if pizza.is_offer %}
                    <div class="hover-container">
                      <img src="{% static 'pictures/discount.png' %}" alt="item-logo" class="hover-target">
                      <aside class="hover-popup">
                        <h2 class="title">Discount</h2>
                        <p class="desc">This item means that the pizza you chose has a <mark>{{ pizza.discount }}%</mark> discount!</p>
                      </aside>
                    </div>
                {% endif %}
            </div>

        </div>

        </a>

        {% endfor %}

    </div>

<style>
.hover-target-container {
    position: absolute;
    display: flex;

    bottom: 0;
    margin-bottom: 5px;
    margin-right: 5px;
    margin-left: 5px;
}

.hover-target {
    height: 35px;
    width: 35px;
    margin-right: 5px;
}

.hover-popup {
    position: absolute;
    width: 160px;
    font-size: 11px;
    background-color: #ffffff;
    border-radius: 8px;
    padding: 1em;
    transform: scale(0);
    transition: transform 200ms ease;
    transform-origin: 8% -10px;

    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.4);
}

.title {
    color: rgb(247, 152, 36);
}

.desc {
    color: rgba(0, 0, 0, 0.6);
}

.hover-target:hover + .hover-popup,
.hover-target:focus + .hover-popup,
.hover-popup:hover{
  transform: scale(1);
}

.hover-popup :not(:first-child) {
  margin-top: 1rem;
}

.hover-popup span {
  font-weight: 700;
}

.hover-popup::after {
  content: '';
  position: absolute;
  top: -1rem;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: -1;
}

@media (prefers-reduced-motion: reduce) {
  *,
  ::before,
  ::after {
    animation-delay: -1ms !important;
    animation-duration: -1ms !important;
    animation-iteration-count: 1 !important;
    background-attachment: initial !important;
    scroll-behavior: auto !important;
    transition-duration: 0s !important;
    transition-delay: 0s !important;
  }
}
</style>
{% endblock %}
