{% extends 'base/base.html' %}
{% load static %}

{% block link %}
    <link rel="stylesheet" href="{% static 'css/menu.css' %}">
{% endblock %}

{% block content %}
    <div class="filters">

    </div>

    <div class="pizza-box-main-container">
        {% for pizza in object_list %}
        <a href="{% url 'pizza-details' pizza.pk %}">
        <div class="pizza-box-container">
            <h1 class="pizza-title-name">{{ pizza.name }}</h1>

            <hr>

            <div class="pizza-img-container">
                <img src="{{ pizza.image.url }}" alt="pizza-img" class="pizza-img">
            </div>

            <div class="pizza-desc-container">
                <p>{{ pizza.ingredients|truncatechars:50 }}</p>
            </div>

            {% if pizza.is_offer %}
                <img src="{% static 'pictures/special-offer.png' %}" alt="special-logo" class="special-logo">
            {% endif %}

        </div>
        </a>

        {% endfor %}

    </div>
{% endblock %}
