{% extends 'base/base.html' %}
{% load static %}


{% block link %}
    <link rel="stylesheet" href="{% static 'css/pizza-details.css' %}">
{% endblock %}

{% block content %}

    <div class="pizza-details-container">
        <h1 class="pizza-title-name">❃ {{ pizza.name }} ❃</h1>

        <hr class="hr-dotted">

        <img src="{{ pizza.image.url }}" alt="pizza-img" class="pizza-img">

        <hr class="hr-dotted">

        <p class="desc">{{ pizza.ingredients }}</p>


        <form method="POST" action="{% url 'cart' pizza.pk %}">
            {% csrf_token %}

            <div class="size_and_quantity">
                <label for="size">Size:</label>
                <select name="size" id="size">
                    {% for size, label in pizza.SIZE %}
                        <option value="{{ size }}">{{ label }}</option>
                    {% endfor %}
                </select>

                <label for="quantity">Quantity:</label>
                <input type="number" name="quantity" id="quantity" value="1" min="1">
            </div>


            <button type="submit" class="green-button-cart">Add to Cart</button>
        </form>
    </div>

{% endblock %}
