{% extends 'base/base.html' %}
{% load static %}

{% block head %}
    <title>My Orders - PizzaGang</title>
    <link rel="stylesheet" href="{% static 'css/show_orders.css' %}">
{% endblock %}

{% block content %}
    <div class="show-orders-stats">
        <p>All orders: <b>{{ orders.count }}</b></p>
        <p>Active orders: <b>{{ active_orders.count }}</b></p>
    </div>
    {% for order in orders %}
        {% if order.is_finished %}
            <div class="order-container-finished">
                {% include 'orders/order-container-user.html' %}
            </div>
        {% else %}
            <div class="order-container-in-progress">
                {% include 'orders/order-container-user.html' %}
            </div>
        {% endif %}
    {% endfor %}
{% endblock %}