* {
    font-family: Arial, Helvetica, sans-serif;
    text-decoration: none;
}

html, body {
    height: 100%;
    margin: 0;
    background-image: url("/static/pictures/background.jpg");
}

body {
  display: flex;
  flex-direction: column;
}

main {
  flex-grow: 1;
}

/*Header*/
header {
    background-color: #f79824;
    height: 100px;

    display: flex;
    align-items: center;
    border-bottom: 4px solid rgba(0, 0, 0, 0.4);
}

.logo {
    width: 100px;
    height: 70px;
    margin-left: 100px;
}

.header-buttons {
    display: flex;
    justify-content: center;

    margin-left: auto;
    margin-right: 165px;
}

.base-button {
    color: rgba(0, 0, 0, 0.4);
    padding: 6px;
    font-size: 16px;
    border-radius: 5px;
    margin-right: 20px;
}

.base-button:hover {
    background-color: #fdca40;
}

.profile-picture {
    width: 40px;
    height: 40px;
    object-fit: cover;
}

/*Footer*/
footer {
    background-color: black;
    color: #04AA6D;
    padding: 50px;

    margin-top: 20px;
    border-top: 6px solid #04aa6d;
}

footer a {
    font-size: 50px;
    margin-right: 30px;
}

/*Dropdown Menu*/
.dropdown {
  position: relative;
  display: inline-block;

}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f1f1f1;
  min-width: 160px;
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
  z-index: 1;
  border-radius: 10px;
}

.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.dropdown-content a:hover {background-color: #ddd; border-radius: 10px;}

.dropdown:hover .dropdown-content {display: block;}
