* {
    font-family: Arial, Helvetica, sans-serif;
    text-decoration: none;
}


/*Header*/

body {
    margin: 0;
    background-image: url("/static/pictures/background.jpg");
}

header {
    background-color: #d7d700;
    height: 100px;

    display: flex;
    align-items: center;
    border-bottom: 4px solid #ff9100;
}

.logo {
    width: 100px;
    height: 70px;
    margin-left: 100px;
}

.green-button {
    background-color: #04AA6D;
    color: white;
    padding: 16px;
    font-size: 16px;
    border-radius: 10px;
    margin-right: 20px;
}

.green-button:hover {
    background-color: #115d00;
}

.header-buttons {
    margin-left: auto;
    margin-right: 165px;
}

/*Footer*/

.footer-container {
    margin-top: 100%;
}

footer {
    background-color: black;
    color: #04AA6D;
    padding: 50px;

    border-top: 6px solid #04aa6d;
}

footer a {
    font-size: 50px;
    margin-right: 30px;
}

/*Dropdown Menu*/

#dropdown-a + ul {
  display: none;
}

#dropdown-a:hover + ul {
  display: block;
}
