.filters {
    display: flex;
    justify-content: center;

    background-color: rgb(255, 145, 0, 0.9);
    height: 60px;
    border-bottom: 2px solid rgba(0, 0, 0, 0.4);
}

/*Pizza Box */

.pizza-box-main-container {
    display: flex;
    justify-content: center;

    margin-top: 20px;
}

.pizza-box-container {
    height: 250px;
    width: 170px;

    border-radius: 7px;
    background-color: rgb(255, 255, 255);
    margin-right: 30px;
    padding-left: 5px;
    padding-right: 5px;


    transition: width 0.2s ease-in-out;
    text-align: center;

    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.6);
}

.pizza-box-container:hover {
    height: 260px;
    width: 180px;
}

.pizza-img-container {
    margin-top: 10px;
    overflow: hidden;
}

.pizza-img-container img {
    border-radius: 10px;
    height: 100%;
    width: 100%;
    object-fit: cover;
}

.pizza-desc-container {
    word-wrap: break-word;
    padding-left: 8px;
    padding-right: 8px;
    color: rgba(0, 0, 0, 0.6);
}

hr {
  border: none;
  border-top: 2px solid rgba(0, 0, 0, 0.2);
  margin: 0;
}

.pizza-title-name {
    color: rgb(255, 145, 0);
    font-size: 15px;
    margin-bottom: 2px;
}

.special-logo {
    position: sticky;
    transform: scale(0.5);
}
