/*Pizza Box */

.pizza-box-main-container {
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

.pizza-box-container {
    height: 250px;
    width: 170px;
    border: 1px solid black;
    border-radius: 10px;
    background-color: rgba(215, 215, 0, 0.70);
    margin-right: 30px;
    padding-left: 5px;
    padding-right: 5px;


    transition: padding 0.2s ease-in-out;
    text-align: center;
}

.pizza-box-container:hover {
    padding: 10px;
}

.pizza-img-container {
    margin-top: 10px;
    overflow: hidden;
}

.pizza-img-container img {
    border-radius: 10px;
    height: 100%;
    width: 100%;
    object-fit: cover;
}

.pizza-desc-container {
    word-wrap: break-word;
    padding-left: 8px;
    padding-right: 8px;
    color: black;
}

hr {
  border: none;
  border-top: 1px solid black;
  margin: 0;
}

.pizza-title-name {
    margin-top: 5px;
    margin-bottom: 5px;
    color: black;
    font-size: 15px;
}
