{% extends 'base.html' %}

{% block content %}
    <form action="{% url 'create-user' %}" method="post">

        {{ form }}
        {% csrf_token %}

        <input class="btn submit" type="submit" value="Create User">
    </form>

{% for user in users %}
    <h5>ID: {{ user.pk }} - {{ user.username }} | {{ user.first_name }} {{ user.last_name }}</h5>
    <a href="http://127.0.0.1:8000/delete/{{ user.pk }}">DELETE</a>
    <h4>---------------------------------------------------</h4>
{% endfor %}

{% endblock %}
