.about-container {
    margin-left: auto;
    margin-right: auto;
    width: 1000px;
}

.title-container {
    position: relative;
    height: 160px;
    display: flex;
    align-items: center;
}

.title-container p {
    margin: 0;
    font-size: 50px;
}

.title-container .black-bar {
    position: absolute;
    height: 7px;
    width: 100px;
    background-color: black;
    bottom: 28px;
    border-radius: 10px;
}

.title-container .fa-pizza-slice {
    position: absolute;
    bottom: 28px;
    right: 0;
    font-size: 100px;
}

.about-container .info {
    font-size: 22px;
}