.go-back i {
    position: fixed;
    margin-top: 20px;
    margin-left: 20px;
    font-size: 50px;
    background-color: white;
    height: 80px;
    width: 80px;
    border-radius: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: rgba(0, 0, 0, 0.6);
    text-decoration: none;
    transition: background-color 0.5s, color 0.5s;
}

.go-back i:hover {
    background-color: dimgray;
    color: white;
}

.form {
    position: relative;
    background-color: white;
    width: 1000px;
    padding: 20px 20px 100px 20px;
    border-radius: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    margin: 100px auto 50px;
}

.h1-container {
    display: flex;
    align-items: center;
    justify-content: center;
}

.h1-container h1 {
    color: gray;
}

form {
    margin-top: 50px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 80px;
    row-gap: 20px;
}

form button {
    cursor: pointer;
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    height: 60px;
    border: none;
    text-align: center;
    background-color: #007bff;
    color: white;
    transition: background-color 0.3s;
    border-radius: 0 0 20px 20px;
}

form button:hover {
    background-color: gray;
}

.edit-avatar-container {
    position: relative;
    height: 200px;
    width: 200px;
    border-radius: 100%;
    margin-left: auto;
    margin-right: auto;
}

.edit-avatar-container input[type="file"] {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    border: 1px solid #ccc;
    border-radius: 100%;
    background-color: rgba(0, 123, 255, 0.7);
}

.username-info p {
    color: gray;
    margin-right: 30px;
}

input[type="text"],
input[type="email"] {
    display: block;
    width: 400px;
    border: 0;
    background-color: rgba(0, 0, 0, 0);
    border-radius: 4px;
    box-sizing: border-box;
    font-size: 18px;
}

#id_phone_number {
    border: 0;
    font-size: 18px;
}

input:focus {
    outline: none;
}

.input-container:hover hr {
    background-color: #007bff;
    color: #007bff;
}

.input-container p {
    color: gray;
    margin: 0 0 10px;
    letter-spacing: .2rem;
}

hr {
    border: none;
    height: 1px;
    color: rgba(0, 0, 0, 0.5);
    background-color: rgba(0, 0, 0, 0.5);
    width: 100%;
}