.main-home-container {
    display: grid;
    row-gap: 50px;
    margin-top: 50px;
    margin-bottom: 50px;
}

/*Slider*/
.slider {
    position: relative;
    width: 1000px;
    height: 600px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    overflow: hidden;
    box-shadow: rgba(100, 100, 111, 0.7) 0 7px 29px 0;
}

.image-container {
    width: 3000px;
    height: 600px;
    clear: both;
    position: relative;
    -webkit-transition: left 2s;
    -moz-transition: left 2s;
    -o-transition: left 2s;
    transition: left 2s;
}

.image-container img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.slide {
    width: 1000px;
    height: 600px;
    float: left;
    margin: 0;
    padding: 0;
    position: relative;
}

.slide .title-box {
    top: 8%;
    left: 7%;
    position: absolute;
    height: 150px;
    width: 865px;
    color: rgba(255, 255, 255, 0.85);
    background-color: rgba(0, 0, 0, 0.4);
    border: thick double orangered;
    border-radius: 20px;
    box-shadow: rgba(0, 0, 0, 0.35) 0 5px 15px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.title-box .title {
    margin: 0;
    font-size: 45px;
    padding-left: 20px;
    padding-right: 20px;
}

.items-box {
    top: 36%;
    left: 7%;
    right: 7%;
    position: absolute;
    width: 260px;
    background-color: rgba(0, 0, 0, 0.4);
    padding: 10px;
    box-shadow: rgba(0, 0, 0, 0.35) 0 5px 15px;
    border-radius: 10px;
}

.item-container {
    display: grid;
    grid-template-columns: 1fr 55px;
    margin-bottom: 8px;
}

.pizza-size-container {
    display: flex;
    align-items: center;
    justify-content: start;
}

.pizza-size-container p {
    margin: 0;
    font-size: 19px;
    color: rgba(255, 255, 255, 0.85);
}

.pizza-img-container {
    width: 55px;
    height: 55px;
}

.pizza-img-container img {
    object-fit: cover;
    border-radius: 100%;
}

.slide .price-box {
    top: 42%;
    right: 7%;
    position: absolute;
    background-color: rgba(0, 0, 0, 0.5);
    padding: 10px;
    transform: rotate(30deg);
    height: 170px;
    width: 170px;
    border-radius: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid orangered;
}

.price-box p {
    color: orangered;
    margin: 0;
    font-size: 44px;
}

.price-box s {
    position: absolute;
    top: -48px;
    right: 25px;
    font-size: 22px;
    font-weight: bold;
    border-radius: 100%;
    height: 100px;
    width: 100px;
    color: rgba(0, 0, 0, 0.5);
    background-color: rgba(255, 69, 0, 0.9);
    display: flex;
    align-items: center;
    justify-content: center;
    border: dotted;
}

.order-menu-box {
    bottom: 10%;
    right: 7%;
    position: absolute;
    row-gap: 10px;
    display: flex;
    column-gap: 10px;
}

.order-menu-box a {
    background-color: rgb(129, 182, 76);
    font-size: 23px;
    padding: 8px 12px 8px 12px;
    text-decoration: none;
    color: white;
    border-radius: 5px;
}

.order-menu-box a:hover {
    background-color: rgb(162, 208, 95);
}

#slide-1:target ~ .image-container {
    left: 0;
}

#slide-2:target ~ .image-container {
    left: -1000px;
}

#slide-3:target ~ .image-container {
    left: -2000px;
}

.buttons {
    position: relative;
    top: -40px;
}

.buttons a {
    display: inline-block;
    height: 20px;
    width: 20px;
    border-radius: 50px;
    background-color: rgba(0, 0, 0, 0.5);
}

.buttons .button.active {
    background-color: rgb(129, 182, 76);
}

/*Buy One, Get One Half Off*/
.pizza-home-offer {
    position: relative;
    margin-left: auto;
    margin-right: auto;
    width: 1000px;
    height: 600px;
    background-color: green;
    box-shadow: rgba(100, 100, 111, 0.7) 0 7px 29px 0;
}

.pizza-home-offer img {
    height: 100%;
    width: 100%;
    object-fit: cover;
}

.pizza-home-offer a {
    position: absolute;
    right: 7%;
    bottom: 10%;
    background-color: rgb(129, 182, 76);
    font-size: 23px;
    padding: 8px 12px 8px 12px;
    text-decoration: none;
    color: white;
    border-radius: 5px;
}

.pizza-home-offer a:hover {
    background-color: rgb(162, 208, 95);
}

/*Pizza Filters*/
.pizza-home-filters {
    margin-left: auto;
    margin-right: auto;
    width: 1000px;
}

.filters-header {
    height: 150px;
    display: flex;
    align-items: center;
    justify-content: center;
    column-gap: 50px;
}

.filters-header p {
    font-size: 50px;
    margin: 0;
}

.filters-header img {
    width: 60px;
}

.filters-pizzas {
    display: grid;
    column-gap: 80px;
    row-gap: 40px;
    justify-content: center;
    grid-template-columns: 250px 250px 250px;
    margin-left: auto;
    margin-right: auto;
}

.filters-pizza-container {
    position: relative;
    height: 200px;
}

.filters-pizza-container .pizza-name {
    position: absolute;
    top: 0;
    bottom: 150px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: white;
    width: 100%;
    border-radius: 10px 10px 0 0;
    border: 1px solid rgba(0, 0, 0, 0.2);
}

.pizza-name p {
    font-size: 23px;
    margin: 0;
}

.filters-pizza-container .pizza-img {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    top: 50px;
}

.pizza-img img {
    height: 100%;
    width: 100%;
    object-fit: cover;
    border-radius: 0 0 10px 10px;
    border: 1px solid rgba(0, 0, 0, 0.2);
}

.filters-pizza-container .pizza-info {
    position: absolute;
    bottom: 0;
    top: 50px;
    left: 0;
    right: 0;
    padding-top: 5px;
    padding-left: 5px;
    padding-right: 5px;
    background-color: rgba(0, 0, 0, 0.2);
    border-radius: 0 0 10px 10px;
}

.pizza-info p {
    color: white;
    margin: 0;
}

/*Review*/
.reviews-title {
    font-size: 90px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 20px 0;
    letter-spacing: .2rem;
    color: dimgray;
}

.review-home-container {
    width: 1000px;
    margin-left: auto;
    margin-right: auto;
    display: grid;
    grid-template-columns: 1fr;
    row-gap: 20px;
}

.username-p {
    position: absolute;
    top: 0;
    left: 200px;
    margin: 0;
    background-color: gray;
    padding: 0 7px 3px 7px;
    border-radius: 0 0 5px 5px;
    box-shadow: rgba(0, 0, 0, 0.1) 0 5px 10px;
}

#show-more-button-container {
    position: relative;
}

#show-more-button-container button {
    position: absolute;
    cursor: pointer;
    right: 0;
    border: 0;
    font-size: 17px;
    font-weight: bold;
    padding: 0 10px 0 10px;
    border-radius: 5px;
    color: dimgray;
    background-color: white;
    box-shadow: rgba(0, 0, 0, 0.1) 0 3px 5px;
    margin-right: 40px;
}