.sidebar {
    position: fixed;
    top: 110px;
    width: 200px;
    background-color: white;
    z-index: 2;
    border-radius: 0 18px 18px 0;
    border: 1px solid rgba(0, 0, 0, 0.20);
    padding: 30px 10px 60px 10px;
}

.sidebar input {
    border: 0;
    box-sizing: border-box;
    font-size: 20px;
    width: 200px;
}

.sidebar input::placeholder {
    font-size: 20px;
    padding-left: 5px;
}

.sidebar input:focus {
    outline: none;
}

.sidebar hr {
    margin: 5px 0 20px 0;
    border: 1px solid lightgray;
    width: 170px;
}

.sidebar button {
    cursor: pointer;
    position: absolute;
    color: white;
    font-weight: bold;
    font-size: 23px;
    background-color: rgba(0, 0, 0, 0.20);
    border: 0;
    height: 40px;
    border-radius: 0 0 18px 0;
    bottom: 0;
    right: 0;
    left: 0;
}

.sidebar button i {
    font-size: 20px;
    margin-left: 10px;
}

.main-container {
    margin-top: 30px;
    margin-bottom: 50px;
    display: grid;
    grid-template-columns: 280px 280px 280px 280px;
    column-gap: 20px;
    row-gap: 40px;
    align-items: center;
    justify-content: center;
    padding-left: 200px;
}

.pizza-container {
    cursor: default;
    position: relative;
    height: 400px;
    background-color: white;
    transition: box-shadow 0.1s;
}

.pizza-container:hover {
    box-shadow: rgba(100, 100, 111, 0.3) 0 7px 29px 0;
}

.edit-delete-pizza-container {
    position: absolute;
    top: 0;
    right: 0;
    background-color: rgba(255, 255, 0, 0.7);
    z-index: 1;
    display: flex;
    column-gap: 10px;
    padding: 8px 8px 8px 13px;
    border-radius: 0 0 0 10px;
}

.edit-delete-pizza-container div {
    display: flex;
    align-items: center;
    justify-content: center;
}

.edit-delete-pizza-container i {
    font-size: 35px;
    color: black;
}

.img-container {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 250px;
}

.img-container img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.info-container {
    position: absolute;
    top: 150px;
    bottom: 100px;
    left: 0;
    right: 0;
    padding: 0 15px 0 15px;
}

.info-container h1 {
    margin: 10px 0 15px 0;
}

.info-container p {
    margin: 0;
}

.filters-container {
    position: absolute;
    top: 300px;
    bottom: 50px;
    left: 0;
    right: 0;
    padding: 0 15px 0 15px;
    display: flex;
    column-gap: 20px;
    align-items: center;
    justify-content: center;
}

.filters-container img {
    width: 57px;
}

.filters-container p {
    font-size: 15px;
    color: gray;
}

.order-button-container {
    position: absolute;
    top: 350px;
    bottom: 0;
    left: 0;
    right: 0;
}

.order-button-container button {
    position: absolute;
    border: 0;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    background-color: rgb(129, 182, 76);
    color: white;
    font-size: 25px;
    font-weight: bold;
}

.order-button-container button:hover {
    background-color: rgb(162, 208, 95);
}

.add-pizza-container {
    cursor: pointer;
    height: 400px;
    background-color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: rgba(100, 100, 111, 0.3) 0 7px 29px 0;
}

.add-pizza-container img {
    width: 150px;
    opacity: 0.7;
}