.here-a {
    text-decoration: none;
    color: black;
}

.here-a:hover {
    text-decoration: underline;
}

.change-container {
    height: 100px;
    display: flex;
    align-items: center;
    width: 1000px;
    margin-right: auto;
    margin-left: auto;
}

.change-a {
    background-color: #007bff;
    color: white;
    text-decoration: none;
    font-size: 20px;
    font-weight: bold;
    padding: 7px 12px 7px 12px;
    border-radius: 5px;
    transition: background-color 0.3s;
}

.change-a:hover {
    background-color: gray;
}

.address-container {
    margin-top: 50px;
    width: 1000px;
    margin-left: auto;
    margin-right: auto;
}

.address-container .title {
    margin: 0;
    font-size: 70px;
    letter-spacing: .2rem;
    color: dimgray;
}

.address-container .address {
    background-color: white;
    color: dimgray;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 50px;
    font-size: 20px;
    border-radius: 10px;
    border: 1px solid rgba(0, 0, 0, 0.2);
    margin-bottom: 20px;
}

#map {
    height: 400px;
    width: 100%;
    border-radius: 10px;
}