h1 {
    margin: 0;
}

hr {
    border: 1px solid rgba(0, 0, 0, 0.2);
    margin-top: 20px;
    margin-bottom: 10px;
}

.cart-main-container {
    background-color: white;
    padding: 40px;
    width: 1000px;
    margin-right: auto;
    margin-left: auto;
    margin-top: 100px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.header-cart {
    position: relative;
    height: 55px;
    display: flex;
    align-content: center;
}

.header-cart .items {
    position: absolute;
    right: 0;
}

.header-cart h1 {
    color: gray;
    font-size: 40px;
}

.cart-container {
    background-color: yellow;
    height: 200px;
    display: grid;
    grid-template-columns: 350px 1fr 80px;
    column-gap: 15px;
}

.pizza-img img {
    height: 200px;
    width: 350px;
    object-fit: cover;
}

.show-cart-filters img {
    width: 50px;
}

.delete-item {
    position: relative;
    height: 200px;
}

.delete-item button {
    cursor: pointer;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    border: 0;
    font-weight: bold;
    font-size: 70px;
}

.show-cart-no-items {
    display: flex;
    align-items: center;
    height: 100px;
}

.show-cart-no-items h1 {
    color: gray;
}

.continue-picking-container {
    height: 100px;
    display: flex;
    align-items: center;
}

.continue-picking {
    text-decoration: none;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid black;
}

.continue-picking i {
    font-size: 10px;
}