.address-container {
    margin-top: 50px;
    width: 1000px;
    margin-left: auto;
    margin-right: auto;
}

.address-container .title {
    margin: 0;
    font-size: 70px;
    letter-spacing: .2rem;
    color: dimgray;
}

.address-container .address {
    background-color: white;
    color: dimgray;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 50px;
    font-size: 20px;
    border-radius: 10px;
    border: 1px solid rgba(0, 0, 0, 0.2);
}

#map {
    height: 400px;
    width: 100%;
}