.edit-pen {
    position: absolute;
    width: 30px;
    transition: opacity 0.2s;
}

.edit-pen:hover {
    opacity: 0.6;
}

.main-show-avatar-container {
    margin-top: 50px;
    margin-bottom: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.show-avatar-container-avatar img {
    height: 300px;
    width: 300px;
    object-fit: cover;
    border-radius: 100%;
}

.show-avatar-container {
    position: relative;
}

.show-avatar-container .edit-pen {
    right: 0;
    top: 0;
}

.show-info-container {
    border-radius: 20px;
    border: 1px solid rgba(0, 0, 0, 0.2);
    position: relative;
    display: grid;
    grid-template-columns: 1fr 1fr;
    row-gap: 15px;
    background-color: white;
    padding: 40px 40px 90px 40px;
    margin-right: auto;
    margin-left: auto;
    width: 1500px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.show-info-container .edit-pen {
    right: 20px;
    top: 20px;
}

.show-info-container .title {
    margin: 0;
    font-size: 20px;
    font-weight: bold;
    color: #007bff;
    letter-spacing: 1px;
}

.show-info-container .info {
    margin: 0;
    font-size: 15px;
}

.sign-out-container {
    cursor: pointer;
    border-radius: 0 0 18px 18px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(129, 182, 76);
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    height: 60px;
    transition: background-color 0.3s;
}

.sign-out-container:hover {
    background-color: rgb(162, 208, 95);
}

.sign-out-container p {
    color: white;
    text-decoration: none;
    font-weight: bold;
}